/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background-color: #f1f1f1; font-family: $font-family-sans-serif; font-size: $font-size-base; line-height: $line-height-base; color: #000; }

a { color: inherit; text-decoration: none; }

a:hover,
a[href^="tel"] { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: calc($(line-height-base)em / 2); }

h1 { font-size: 35px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 25px; }
h5 { font-size: ; }
h6 { font-size: ; }

p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: $(line-height-base)em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }
