/* ------------------------------------------------------------ *\
	Section Search Parts
\* ------------------------------------------------------------ */

.section-search-parts { position: relative; color: #fff; text-align: center; padding: 50px 0; }

.section-search-parts .section__overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-position: center center; background-repeat: no-repeat; z-index: -1; background-size: cover; }
.section-search-parts .section__overlay .section__overlay-black { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.4); }

.section-search-parts .section__inner { position: relative; padding: 50px 20px; background-color: rgba(0, 0, 0, 0.7); border-radius: 20px; }
.section-search-parts .section__heading { border-bottom: 1px solid #fff; margin-bottom: 30px; }
.section-search-parts .section__separator { margin: 30px 0; }
.section-search-parts .section__search { max-width: 1000px; margin: 0 auto; }

.section-search-parts .form-search { margin-bottom: 30px; }

.section-search-parts h1 { color: #e7a161; margin-bottom: 20px; }
.section-search-parts h3 { color: #e7a161; }

/* Section Search Parts Alt */
.section-search-parts--alt { background-color: #f5f5f5; padding: 0; }

.section-search-parts--alt .section__filter-mobile { display: none; }
.section-search-parts--alt .section__search { margin-bottom: 20px; }
.section-search-parts--alt .section__search-filters { max-width: 700px; margin: 0 auto; }
.section-search-parts--alt .section__inner { background: transparent; padding: 10px 0 20px; }

.section-search-parts--alt .form-search { position: relative; max-width: 400px; margin: 0 auto; }
.section-search-parts--alt .form-search input[type="text"] { margin-right: 0; max-width: none; padding: 10px 40px 10px 20px; border-radius: 21px; }
.section-search-parts--alt .form-search button { position: absolute; top: 0; right: 0; padding: 6px 10px 7px 0; width: 40px; display: flex; align-items: center; transition: opacity .3s; }
.section-search-parts--alt .form-search button svg { fill: #000; width: 100%; height: auto; }
.section-search-parts--alt .form-search button:hover { opacity: .5; }
.section-search-parts--alt .form-search button:hover svg { transform: none; }

.section-search-parts--alt .form-compatible-motorcycle .btn-make-search { font-size: 17px; padding: 3px 30px; margin-top: 0; border-width: 2px; }

.section-search-parts--alt form input { padding: 5px 15px; }
.section-search-parts--alt form select { padding: 5px 40px 5px 15px; background-size: 30px 30px; }

.section-search-parts--alt form input, 
.section-search-parts--alt form select { font-size: 18px; border-radius: 8px; border-color: #ddd; transition: .3s ease; }

.section-search-parts--alt form input:hover,
.section-search-parts--alt form input:focus,
.section-search-parts--alt form select:hover,
.section-search-parts--alt form select:focus { border-color: #adabab; }

.section-search-parts--alt form input, 
.section-search-parts--alt form select { background-color: #fff; }

.section-search-parts--alt form input[disabled],
.section-search-parts--alt form select[disabled] { border-color: #ddd; background-color: #ddd; }

.section-search-parts--alt h3 { margin-bottom: 10px; }

@media(min-width: 601px) {
	.section-search-parts--alt .section__filter-menu { display: block !important; }
}

/* Small Desktop */

$breakpoint-small-desktop {
	.section-search-parts { padding: 30px 0; }	

	.section-search-parts .section__inner { padding: 20px 20px 30px; }
	.section-search-parts .section__heading { margin-bottom: 20px; }
	.section-search-parts .section__separator { margin: 20px 0; }

	/* Section Search Parts Alt */
	.section-search-parts--alt { padding: 0; }
	.section-search-parts--alt .section__inner { padding: 10px 0 20px; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.section-search-parts { padding: 25px 0; }
	
	.section-search-parts .section__inner { padding: 20px 15px 30px; }
	.section-search-parts .form-search { margin-bottom: 25px; }
	
	/* Section Search Parts Alt */
	.section-search-parts--alt { padding: 15px 0 5px; }

	.section-search-parts--alt .section__inner { padding: 0; }

	.section-search-parts--alt .section__filter-mobile { display: inline-block; background-color: #eaa362; color: #fff; padding: 5px 10px; border: 2px solid #eaa362; border-radius: 3px; font-size: 18px; font-weight: 600; transition: .3s; margin-bottom: 10px; width: 100%; }
	.section-search-parts--alt .section__filter-mobile:active { opacity: .5; }
	
	.section-search-parts--alt .section__filter-menu { display: none; }

	.section-search-parts--alt .section__search { margin-bottom: 10px; }
	
	.section-search-parts--alt .form-search { max-width: none; margin-bottom: 5px; }
	.section-search-parts--alt .form-search input[type="text"] { border-radius: 8px; }

	.section-search-parts--alt .form-compatible-motorcycle .form__actions { display: none; }

	.section-search-parts--alt h3 { display: none; }
}

/* ------------------------------------------------------------ *\
	Section Intro
\* ------------------------------------------------------------ */

.section-intro { position: relative; padding: 100px 0; background-size: cover; background-position: center; color: #fff; text-align: center; }
.section-intro:before { content: ''; position: absolute; left: 0; right: 0; bottom: 0; top: 0; background-color: #000; opacity: .7; z-index: 1; }

.section-intro .shell { position: relative; z-index: 2; }

.section-intro h1 { font-size: 45px; color: #e7a161; }
.section-intro p { font-size: 34px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-intro { padding: 50px 0; }

	.section-intro h1 { font-size: 35px; }
	.section-intro p { font-size: 25px; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.section-intro h1 { font-size: 28px; }

	.section-intro p { font-size: 20px; }
}

/* ------------------------------------------------------------ *\
	Section Intro Alt
\* ------------------------------------------------------------ */

.section-intro-alt { padding: 50px 0; background-color: #e7a161; color: #fff; text-align: center; }

.section-intro-alt h1 { font-size: 54px; text-transform: uppercase; font-weight: 500; margin-bottom: 15px; }

.section-intro-alt .section__links { display: flex; list-style-type: none; justify-content: center; align-content: center; }
.section-intro-alt .section__links li + li:before { content: '/'; display: inline-block; margin: 0 10px; }
.section-intro-alt .section__links p { display: inline-block; font-size: 16px; font-weight: 400; }
.section-intro-alt .section__links a { transition: .3s; }
.section-intro-alt .section__links a:hover { opacity: .5; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-intro-alt { padding: 40px 0; }

	.section-intro-alt h1 { font-size: 40px; }
}

/* Mobile */

$breakpoint-mobile {
	.section-intro-alt { padding: 30px 0; }

	.section-intro-alt h1 { font-size: 30px; }	
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.section-intro-alt .section__links p { font-size: 14px; }

	.section-intro-alt h1 { font-size: 25px; }
}

/* ------------------------------------------------------------ *\
	Section Contact
\* ------------------------------------------------------------ */

.section-contact { padding: 50px 0; }

.section-contact .section__inner { display: flex; align-items: center; }
.section-contact .section__form { width: 50%; }

.section-contact .section__details { width: 50%; padding-left: 15%; padding-bottom: 26px; }

.section-contact .section__details-text { padding-top: 30px; border-top: 1px solid #c8c7c7; }
.section-contact .section__details-text h2 { margin-bottom: 25px; }
.section-contact .section__details-text p { font-size: 18px; margin-bottom: 9px; }
.section-contact .section__details-text p:last-child { margin-bottom: 0; }

.section-contact .section__details-contacts { padding-bottom: 30px; }
.section-contact .section__details-contacts > a { margin-bottom: 0; }

.section-contact .section__details-contacts .icotext-phone { margin-bottom: 20px; }

/* Small Desktop */

$breakpoint-small-desktop {
	.section-contact .section__details { padding-left: 10%; }
}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.section-contact { padding: 30px 0; }

	.section-contact .section__details  { padding-left: 20px; }

	.section-contact .section__details-contacts .icotext-phone { margin-bottom: 10px; }
}

/* Mobile */

$breakpoint-mobile {
	.section-contact .section__inner { flex-direction: column; }

	.section-contact .section__form,
	.section-contact .section__details { width: 100%; }

	.section-contact .section__details { padding: 0; margin: 0 0 30px; order: -1; border-bottom: 2px solid #e7a161; }

	.section-contact .section__details-text { max-width: 400px; margin: 30px auto; border: 0; padding: 0; }

	.section-contact .section__details-contacts { border-bottom: 2px solid #e7a161; padding-bottom: 30px; }
	.section-contact .section__details-contacts [class^="icotext"] { font-size: 22px; font-weight: 500; }

	.section-contact .section__details-contacts .ico-phone,
	.section-contact .section__details-contacts .ico-mail { width: 35px; height: 35px; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.section-contact .section__details-contacts [class^="icotext"] { font-size: 18px; font-weight: 500; }

	.section-contact .section__details-contacts .ico-phone,
	.section-contact .section__details-contacts .ico-mail { width: 25px; height: 25px; }

	.section-contact div.wpforms-container-full .wpforms-form .wpforms-field { padding: 5px 0; }
}

/* ------------------------------------------------------------ *\
	Section Columns
\* ------------------------------------------------------------ */

.section-columns { display: flex; justify-content: space-between; }

.section-columns + .section-columns { margin-top: 10px; }

.section-columns .section__col + .section__col { text-align: right; }

/* ------------------------------------------------------------ *\
	Section Default
\* ------------------------------------------------------------ */

.section-default { padding: 30px 0; }

.section-default h1 { color: #e7a161; }

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.section-default { padding: 10px 0; }
}

/* ------------------------------------------------------------ *\
	Section 404
\* ------------------------------------------------------------ */

.section-404 { padding: 100px 0; text-align: center; background-color: #e7a161; }

.section-404 .section__inner { padding: 80px 20px; border-radius: 30px; background-color: #fff; }

.section-404 h1 { font-size: 50px; color: #e7a161; }
.section-404 p { font-size: 25px; }
.section-404 a { color: #e7a161; text-decoration: underline; transition: .3s; }
.section-404 a:hover { opacity: .5; }

/* Mobile */

$breakpoint-mobile {
	.section-404 { padding: 80px 0; }

	.section-404 h1 { font-size: 40px; }
	.section-404 p { font-size: 22px; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.section-404 { padding: 50px 0; }

	.section-404 h1 { font-size: 30px; }
	.section-404 p { font-size: 18px; }
}
