/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

[class^="form"] input,
[class^="form"] select,
[class^="form"] button { color: #000; }

[class^="form"] input,
[class^="form"] select { border: 1px solid #000; border-radius: 20px; font-size: 25px; }

[class^="form"] input { padding: 10px 20px; }

[class^="form"] select { padding: 10px 60px 10px 20px; appearance: none; text-indent: 1px; text-overflow: ''; background-image: url(../images/select-down-arrow.svg); background-repeat: no-repeat; background-size: 50px 50px; background-position: right 10px center; }
[class^="form"] select::-ms-expand { display: none; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	[class^="form"] input,
	[class^="form"] select { font-size: 18px; }

	[class^="form"] select { background-size: 40px 40px; padding-right: 50px; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	[class^="form"] input,
	[class^="form"] select { font-size: 16px; }

	[class^="form"] select { background-size: 30px 30px; }
}

/* ------------------------------------------------------------ *\
	Form Search
\* ------------------------------------------------------------ */

.form-search { display: flex; justify-content: center; align-items: center; }
.form-search input[type="text"] { width: 100%; margin-right: 10px; }
.form-search button { border: 0; background-color: transparent; width: 52px; }
.form-search button svg { width: 40px; height: 40px; transition: .3s; }
.form-search button:hover svg { transform: scale(1.3, 1.3); }

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.form-search { position: relative; flex-wrap: wrap; justify-content: center; }

	.form-search input[type="text"] { margin: 0; padding: 10px 40px 10px 20px; }

	.form-search button { position: absolute; top: 5px; right: 5px; width: auto; }
	.form-search button svg { fill: #000; width: 30px; height: 30px; }
	.form-search button:hover svg { transform: none; fill: #e7a161; }
}

/* ------------------------------------------------------------ *\
	Form Make Filter
\* ------------------------------------------------------------ */

.form-compatible-motorcycle .form__inner { display: flex; margin: 0 -10px; justify-content: center; align-items: center; margin-bottom: 10px; }

.form-compatible-motorcycle select { width: 33.3%; margin: 0 10px; }

.form-compatible-motorcycle input[type="submit"] { background-color: #e7a161; color: #fff; border-width: 3px; border-color: #e7a161; font-size: 22px; font-weight: 500; border-radius: 6px; padding: 5px 30px; width: 100%; transition: background-color .3s, color .3s; margin-top: 10px; }
.form-compatible-motorcycle input[type="submit"]:hover { background-color: #fff; color: #e7a161; border-color: #e7a161; }

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.form-compatible-motorcycle { flex-direction: column; margin: 0; }
	.form-compatible-motorcycle .form__inner { flex-direction: column; margin: 0; }

	.form-compatible-motorcycle select { width: 100%; margin: 5px 0; }
}

/* ------------------------------------------------------------ *\
	Form Contact
\* ------------------------------------------------------------ */

.form-contact.wpforms-container-full { margin-bottom: 0; }

.form-contact.wpforms-container-full .wpforms-form .wpforms-field-label { display: none; }
.form-contact.wpforms-container-full .wpforms-form .wpforms-title { font-weight: 700; }

.form-contact.wpforms-container-full .wpforms-form input,
.form-contact.wpforms-container-full .wpforms-form textarea { width: 100% !important; max-width: 100% !important; padding: 15px 20px !important; height: auto !important; border: 1px solid #e5e5e5 !important; border-radius: 5px !important; font-size: 18px !important; }

.form-contact.wpforms-container-full .wpforms-form textarea { min-height: 150px }

.form-contact.wpforms-container-full .wpforms-form input::placeholder,
.form-contact.wpforms-container-full .wpforms-form textarea::placeholder { color: #757575; }

.form-contact.wpforms-container-full .wpforms-form button[type=submit] { border: 2px solid #e7a161; border-radius: 4px; padding: 10px 30px; font-size: 22px; background-color: #e7a161; color: #fff; font-weight: 700; transition: .5s; }
.form-contact.wpforms-container-full .wpforms-form button[type=submit]:hover { border: 2px solid #e7a161; background-color: #fff; color: #e7a161; }

.form-contact .wpforms-confirmation-container-full p { font-size: 23px; }

.form-contact.wpforms-container-full .wpforms-form label.wpforms-error { display: none !important; }

.form-contact .wpforms-field-container .wpforms-has-error input,
.form-contact .wpforms-field-container .wpforms-has-error textarea { border-color: #cc0000 !important; }

.form-contact .wpforms-field-container input.wpforms-valid,
.form-contact .wpforms-field-container textarea.wpforms-valid { border-color: #4CC355 !important; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.form-contact.wpforms-container-full .wpforms-form .wpforms-title { font-size: 25px; }
	.form-contact.wpforms-container-full .wpforms-form button[type=submit] { font-size: 20px; padding: 8px 20px; }
}

/* Mobile */

$breakpoint-mobile {
	.form-contact.wpforms-container-full { text-align: center; }

	.form-contact.wpforms-container-full .wpforms-form button[type=submit] { width: 100%; }
}
