/* ------------------------------------------------------------ *\
	Widgets
\* ------------------------------------------------------------ */

.widgets { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */

.widget { margin-bottom: 40px; }
.widget ul { list-style: none outside none; margin: 0; }
.widget li { padding: 5px 0; }

/* Widget Title */
.widget-title { padding-bottom: 5px; border-bottom: 1px solid #000; margin-bottom: 12px; }

.widget .widgettitle { font-size: 18px; font-weight: 400; margin-bottom: 15px; border-width: 0 0 0 4px; border-style: solid; border-color: #eaa362; padding-left: 10px; line-height: 1; }

/* Widget Categories */
.widget_categories .screen-reader-text { display: none; }
.widget_categories .post-form { width: 100%; padding: 5px; }

/* Widget Calendar */
.widget_calendar table { width: 100%; border-spacing: 0; border-collapse: collapse; text-align: center; }
.widget_calendar td,
.widget_calendar th { padding: 5px; border: 1px solid #000; }
.widget_calendar caption { padding: 12px; font-weight: bold; }
.widget_calendar tfoot { font-weight: bold; }

/* Widget RSS */
.widget_rss .rsswidget { vertical-align: middle; }
.widget_rss .rsswidget img { float: left; margin: 5px 8px 0 0; }

/* Widget Product Search */
.widget_product_search input[type="search"] { display: inline-block; width: 100%; font-size: 14px; line-height: 1.8; padding: 6px 12px; vertical-align: middle; background-color: transparent; color: #333; border: 1px solid #ddd; border-radius: 11px; transition: all 0.3s ease; margin-bottom: 10px; }
.widget_product_search input[type="search"]:hover,
.widget_product_search input[type="search"]:focus { border-color: #adabab; }

.widget_product_search button[type="submit"] { width: 100%; padding: 8px 20px; background-color: #e7a161; color: #fff; font-size: 17px; font-weight: 600; border: 2px solid #e7a161; border-radius: 3px; transition: .3s; }
.widget_product_search button[type="submit"]:hover { background-color: #fff; color: #e7a161; }

/* Widget Price Filter */
.widget_price_filter #min_price,
.widget_price_filter #max_price { display: none; }

/* Widget Product Categories */
.widget_product_categories .cat-item { padding: 0; margin-bottom: 12px; }
.widget_product_categories .cat-item a { position: relative; display: block; padding-left: 22px; font-size: 13px; transition: .3s; font-weight: 500; }
.widget_product_categories .cat-item a:before { content: ''; display: inline-block; position: absolute; left: 0; top: 2px; width: 14px; height: 14px; border-radius: 50%; border: 1px solid rgba(0,0,0,0.15); transition: .3s; }

.widget_product_categories .current-cat a,
.widget_product_categories .cat-item a:hover { color: #e7a161; }

.widget_product_categories .current-cat a:before,
.widget_product_categories .cat-item a:hover:before { background-color: #e7a161; border-color: transparent; }

.widget_product_categories#woocommerce_product_categories-4 { display: none; }

/* Small Desktop */

$breakpoint-small-desktop {
	.widget { margin-bottom: 30px; }

	/* Widget Title */
	.widget .widgettitle { font-size: 15px; }

	/* Widget Product Search */
	.widget_product_search button[type="submit"] { font-size: 15px; }
	
	/* Widget Price Filter */
	.widget_price_filter .price_slider_amount { display: flex; flex-direction: column; }
	.widget_price_filter .price_slider_amount .price_label { text-align: left; order: -1; }
}

/* Mobile */

$breakpoint-mobile {
	.widget_product_search button[type="submit"] { padding: 4px 10px; }
	.widget_product_search button[type="submit"] { font-size: 15px; font-weight: 500; line-height: 1; }
	.widget_product_search input[type="search"] { font-size: 12px; }
}


/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.widgets { display: flex; flex-direction: column; }

	.widget { margin-bottom: 20px; text-align: center; }
	
	.widget:last-child { margin-bottom: 0; }

	.widget .widgettitle { display: none; }

	.widget_product_categories#woocommerce_product_categories-2 { display: none; }
	.widget_product_categories#woocommerce_product_categories-4 { display: block; }

	.widget_product_search { margin-bottom: 10px; }

	.widget_product_search button[type="submit"] { display: none; }
	.widget_product_search input[type="search"] { background-color: #fff; color: #000; font-size: 17px; border-radius: 8px; border-color: #ddd; padding: 6px 15px; line-height: normal; margin-bottom: 0; }

	.widget_price_filter { order: 2; }
	.widget_price_filter .price_slider_amount .price_label { font-size: 14px; padding: 0 5px; }

	.widget_product_categories .select2-container--default .select2-selection--single { border-color: #ddd; border-radius: 8px; text-align: left; }
	.widget_product_categories .select2-container--default .select2-selection--single .select2-selection__placeholder { color: #000; }
	.widget_product_categories .select2-container--default .select2-selection--single .select2-selection__rendered { color: #000; padding: 7px 15px; line-height: 18px; font-size: 16px; }
	.widget_product_categories .select2-container--default .select2-selection--single .select2-selection__clear { display: none; }
	.widget_product_categories .select2-dropdown { border-color: #ddd; }

	.widget_product_categories .select2-container .select2-selection--single { height: 32px; }

	span.select2-container--default .select2-search--dropdown .select2-search__field { border-color: #ddd; }
}
