/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo { display: block; width: 180px; height: 60px; background: url(../images/logo.png) center/contain no-repeat; }

.logo-alt { display: block; width: 200px; height: 234px; background: url(../images/logo-alt.png) center/contain no-repeat; }
