/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { position: fixed; top: 0; left: 0; right: 0; background-color: #000; color: #fff; padding: 20px; z-index: 999; }
.admin-bar .header { margin-top: 32px; }

.header .header__inner { display: flex; justify-content: space-between; align-items: center; }
.header .header__body { display: flex; align-items: center; }

.header .header__shopping-cart { margin-left: 60px; }
