/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { color: #fff; }

.footer .footer__body { padding: 100px 0; background: linear-gradient(135deg, #1A1A1A, #3D3935); }
.footer .footer__body-flex { display: flex; justify-content: space-between; align-items: center; }

.footer .footer__text p { font-size: 18px; margin-bottom: 10px; text-align: center; }

.footer .footer__copyright { padding: 25px 0; background-color: #000; text-align: center; }
.footer .footer__copyright p { font-size: 20px; }

/* Small Desktop */

$breakpoint-small-desktop {
	.footer .footer__body { padding: 50px 0; }
}
