/* ------------------------------------------------------------ *\
	Woocommerce
\* ------------------------------------------------------------ */

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { height: 9px; position: relative; padding: 0 2px; border: 1px solid #d0d0d0; cursor: pointer; background-color: transparent; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle { background-color: #e7a161; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-range { background-color: #e7a161; position: absolute; top: 2px; bottom: 2px; height: auto; z-index: 1; }

.woocommerce .widget_price_filter .price_slider_amount .button { background-color: #e7a161; border: 2px solid #e7a161; color: #fff; transition: .3s; font-weight: 600; }
.woocommerce .widget_price_filter .price_slider_amount .button:hover { background-color: #fff; color: #e7a161; }

.woocommerce ul.products { display: flex; flex-wrap: wrap; margin: 0 -20px; }
.woocommerce ul.products li.product { float: none; margin: 20px 0; padding: 0 20px; width: 25%; }

.woocommerce .woocommerce-result-count { display: none; }

.woocommerce .woocommerce-ordering { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 0; float: none; margin-bottom: 0; display: flex; align-items: center; }
.woocommerce .woocommerce-ordering label { font-size: 18px; margin-right: 8px; }
.woocommerce .woocommerce-ordering select { appearance: none; text-indent: 1px; text-overflow: ''; background-image: url(../images/select-down-arrow.svg); background-repeat: no-repeat; background-size: 30px 30px; background-position: right 10px center; background-color: #fff; border-color: #ddd; transition: .3s ease; padding: 7px 40px 7px 15px; font-size: 16px; border-radius: 8px; }
.woocommerce .woocommerce-ordering select::-ms-expand { display: none; }

.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale { margin: 0; border-radius: 0; min-height: 0; max-width: none; padding: 10px 5px; line-height: 1; background-color: #e7a161; }

.woocommerce span.onsale { top: 0; left: 0; }

.woocommerce div.woocommerce__shop .product .price del,
.woocommerce div.woocommerce__shop .product span.price del { font-size: 14px; opacity: .7; color: #5f5f5f; }
.woocommerce div.woocommerce__shop .product .price,
.woocommerce div.woocommerce__shop .product span.price { font-size: 16px; color: #e7a161; }
.woocommerce div.woocommerce__shop .product .price ins,
.woocommerce div.woocommerce__shop .product span.price ins { text-decoration: none; }
.woocommerce div.woocommerce__shop .product .price bdi,
.woocommerce div.woocommerce__shop .product span.price bdi { font-weight: 600; }

.woocommerce div.woocommerce__shop .product .button { margin: 0; background-color: #e7a161; border: 2px solid #e7a161; color: #fff; transition: .3s; padding: 7px 10px; width: 50%; }
.woocommerce div.woocommerce__shop .product .button:hover { background-color: #fff; color: #e7a161; }

.woocommerce div.woocommerce__shop .product .price { font-size: 30px; }
.woocommerce div.woocommerce__shop .product .price del { font-size: 20px; }

.woocommerce #respond input#submit::after,
.woocommerce a.button::after,
.woocommerce button.button::after,
.woocommerce input.button::after { font-size: 22px; }

.woocommerce #respond input#submit.loading, .woocommerce a.button.loading,
.woocommerce button.button.loading, .woocommerce input.button.loading { opacity: .8; pointer-events: none; }

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after { color: #000; z-index: 2; left: 46%; top: 3px; width: 23px; }

.woocommerce ul.products li.product .button { margin-top: 0; width: 100%; text-align: center; }
.woocommerce ul.products li.product .button.added { display: none; }

.woocommerce a.added_to_cart { background: #4CC355 url(../images/icon-shopping-cart.svg) no-repeat; background-size: 22px 22px; background-position: left 10px center; color: #fff; font-weight: 600; padding: 8px 40px; font-size: 13px; border-radius: 3px; transition: .3s; width: 100%; text-align: center; }

.woocommerce a.added_to_cart:hover { opacity: .5; }

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 { font-weight: 600; }

.woocommerce ul.products li.product .woocommerce-loop-product__link { display: inline-block; }
.woocommerce ul.products li.product .woocommerce-loop-product__link h2 { transition: .3s; }
.woocommerce ul.products li.product .woocommerce-loop-product__link:hover h2 { opacity: .5; color: #e7a161; }

.woocommerce .woocommerce-product-images { position: relative; }
.woocommerce ul.products li.product .woocommerce-loop-product__link img ~ img { position: absolute; left: 0; right: 0; bottom: 0; top: 0; opacity: 0; transition: .3s; }
.woocommerce ul.products li.product .woocommerce-loop-product__link:hover img ~ img { opacity: 1; }

/* Pagination */
.woocommerce nav.woocommerce-pagination { margin-top: 30px }

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li { border: 0; }

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span { background: #424043; color: #fff; border: 1px solid #424043; border-radius: 4px; font-size: 14px; font-weight: 600; width: 30px; height: 30px; line-height: 30px; padding: 0; transition: .3s; }

.woocommerce nav.woocommerce-pagination ul li + li { margin-left: 5px; }

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current { background: #fff; color: #424043; }

.woocommerce nav.woocommerce-pagination ul li span.inactive { color: #999; background-color: #fff; border-color: #999; }

.woocommerce nav.woocommerce-pagination ul li span.inactive,
.woocommerce nav.woocommerce-pagination ul li span.current { cursor: default; }

.woocommerce nav.woocommerce-pagination ul li .prev,
.woocommerce nav.woocommerce-pagination ul li .next { padding: 0; font-size: 24px; line-height: 25px; }

.woocommerce ul.products li.product a img { margin-bottom: 5px; }
.woocommerce .related.products ul.products li.product a img { margin-bottom: 0; }

.woocommerce div.product div.images.woocommerce-product-gallery .flex-viewport { margin-bottom: 20px; }

.woocommerce div.product div.images .flex-control-thumbs { margin: 0 -5px; }
.woocommerce div.product div.images .flex-control-thumbs li { padding: 0 5px 10px; }

.woocommerce div.product .related.products { float: left; border-top: 1px solid #ddd; padding-top: 20px; width: 100%; }
.woocommerce div.product .related.products > h2 { font-size: 24px; font-weight: 500; margin-bottom: 0; }

.woocommerce div.product .product_title { font-size: 24px; font-weight: 500; padding-bottom: 10px; border-bottom: 1px solid #ddd; margin-bottom: 10px; }

.woocommerce div.woocommerce__shop .product .price { margin-bottom: 20px; }
.woocommerce div.woocommerce__shop .woocommerce-product-details__short-description { margin-bottom: 20px; }
.woocommerce div.woocommerce__shop .woocommerce-product-details__short-description p { line-height: 1.7; margin-bottom: 5px; }
.woocommerce div.woocommerce__shop .woocommerce-product-details__short-description ul { padding-left: 30px; }

.woocommerce div.product div.summary .posted_in { font-weight: 600; }
.woocommerce div.product div.summary .posted_in a { color: #e7a161; font-weight: 500; transition: .3s; }
.woocommerce div.product div.summary .posted_in a:hover { opacity: .5; }

.woocommerce div.product div.summary .money-back-guarantee { color: #c51313; margin-bottom: 10px; font-size: 13px; }

.woocommerce form .form-row #billing_country_field { display: none; }

.woocommerce .col2-set .col-1 { float: none; width: 100%; }
.woocommerce .col2-set .col-2 { float: none; width: 100%; }

.woocommerce .woocommerce-thankyou-order-received { font-size: 26px; }
.woocommerce .woocommerce-order-details__title { margin-bottom: 10px; }

.woocommerce .woocommerce-product-mobile-title { display: none; }

.woocommerce ul#shipping_method .amount { font-weight: 400; }

.woocommerce .woocommerce-notices-wrapper > *:last-child { margin-bottom: 2em; }

.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error { font-size: 16px; margin-bottom: 20px; }

.woocommerce .woocommerce-error li,
.woocommerce .woocommerce-message { display: flex; flex-direction: column; }

.woocommerce .woocommerce-error li a,
.woocommerce .woocommerce-message a { order: 2; margin-top: 10px; float: none; }

.woocommerce .woocommerce-error .button { max-width: 270px; font-size: 16px; font-weight: 600; }

.woocommerce .return-to-shop .button { font-size: 20px; background: #424043; color: #fff; border: 2px solid #424043; transition: .3s; }
.woocommerce .return-to-shop .button:hover { background: #fff; color: #424043; }

.woocommerce .products-wrapper .woocommerce-info { display: inline-block; width: 100%; margin-top: 20px; }

.woocommerce .products-wrapper__loading { text-align: center; }
.woocommerce .products-wrapper__loading:before { content: ''; display: inline-block; margin: 20px auto; width: 100px; height: 100px; background-image: url(../images/ajax-loader.gif); background-repeat: no-repeat; background-size: contain; }

.single-product .woocommerce-message .button { background-color: #8fae1b; color: #fff; text-align: center; border: 2px solid #8fae1b; max-width: 260px; transition: .3s; }
.single-product .woocommerce-message .button:hover { background-color: #fff; color: #8fae1b; }

.single-product .woocommerce-error .button { background-color: #b81c23; color: #fff; text-align: center; border: 2px solid #b81c23; transition: .3s; }
.single-product .woocommerce-error .button:hover { background-color: #fff; color: #b81c23; }

/* Small Desktop */

$breakpoint-small-desktop {
	.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { margin-bottom: 0; }
}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.woocommerce ul.products { margin: 0; justify-content: space-between; }
	.woocommerce ul.products:before { content: none; }
	.woocommerce ul.products li.product { padding: 0; }

	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product { width: 48%; float: none !important; clear: none; margin: 20px 0 }

	.woocommerce-page div.product div.images { text-align: center; float: none; width: 100%; }
	.woocommerce div.product div.summary { text-align: center; float: none; width: 100%; }

	.woocommerce div.woocommerce__shop .product .button { width: 100%; }

	.woocommerce div.product div.images img { width: auto; max-height: 60vh; margin: 0 auto; }
}

/* Mobile */

$breakpoint-mobile {
	.woocommerce .widget_price_filter .price_slider_amount .button { padding: 4px 10px; font-weight: 500; font-size: 15px; }
	
	.woocommerce .woocommerce-ordering label { display: none; }
	.woocommerce .woocommerce-ordering select { font-size: 15px; padding: 4px 40px 4px 15px; }

	.woocommerce div.product div.images { margin-bottom: 0; }
	.woocommerce .product_title { display: none; }
	.woocommerce div.product form.cart .button { float: none; width: 100%; }

	.woocommerce .woocommerce-product-mobile-title { display: block; text-align: center; font-size: 20px; font-weight: 500; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #ddd; }

	.woocommerce div.product div.images .flex-control-thumbs { display: flex; justify-content: center; }
	
	.woocommerce div.product div.images .flex-control-thumbs li { position: relative; width: 9px; height: 9px; background-color: #f3f3f3; border: 1px solid #949494; border-radius: 50%; float: none; padding: 0; margin: 0 5px; }
	
	.woocommerce div.product div.images .flex-control-thumbs li img { opacity: 0; border-radius: 50%; background-color: #949494; width: 7px; height: 7px; padding: 7px 7px 0 0; }
	
	.woocommerce div.product div.images .flex-control-thumbs li img.flex-active,
	.woocommerce div.product div.images .flex-control-thumbs li img:hover { opacity: 1; }

	.woocommerce div.product div.images.woocommerce-product-gallery { margin-bottom: 15px; }
	.woocommerce div.product div.images.woocommerce-product-gallery .flex-viewport { margin-bottom: 10px; }
	.woocommerce div.woocommerce__shop .product .price { margin-bottom: 5px; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.woocommerce .widget_price_filter .price_slider_amount .button { display: none; }

	.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { background-color: #fff; }

	.woocommerce .woocommerce-product-mobile-title { font-size: 18px; padding-top: 15px; border-top: 1px solid #ddd; margin-top: 15px; }

	.woocommerce .return-to-shop .button { font-size: 17px; width: 100%; text-align: center; }

	.woocommerce nav.woocommerce-pagination ul li .prev,
	.woocommerce nav.woocommerce-pagination ul li .next { display: none; }

	.woocommerce ul.order_details li { float: none; border: none; margin: 0 0 10px; padding: 0; }

	.woocommerce ul.order_details { margin-bottom: 20px; }

	.woocommerce-order-received .woocommerce { text-align: center; }

	.woocommerce .woocommerce-thankyou-order-received { font-size: 19px; }

	.woocommerce .woocommerce-info,
	.woocommerce .woocommerce-message,
	.woocommerce .woocommerce-error { text-align: center; }

	.woocommerce div.woocommerce__shop .woocommerce-product-details__short-description ul { display: inline-block; text-align: left; }

	.woocommerce div.product .related.products > h2 { margin-bottom: 10px; }

	.woocommerce ul.products[class*=columns-] li.product,
	.woocommerce-page ul.products[class*=columns-] li.product { margin: 10px 0; text-align: center; }

	.woocommerce div.product div.summary .money-back-guarantee { font-size: 11px; }

	.woocommerce .woocommerce-error .button { padding: 5px; }
}

/* ------------------------------------------------------------ *\
	Woocommerce Cart
\* ------------------------------------------------------------ */

.woocommerce-cart .wc-proceed-to-checkout { padding: 0; }
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button { background-color: #e7a161; border: 2px solid #e7a161; transition: .3s; margin: 0; }
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover { background-color: #fff; color: #e7a161; }

.woocommerce-cart a.remove { margin: 0 auto; font-size: 25px; transition: .3s; color: #fff !important; background-color: #B00B1E; }
.woocommerce-cart a.remove:hover { color: #B00B1E !important; background-color: #fff; }

.woocommerce-cart .restore-item { color: #8fae1b; transition: .3s; }
.woocommerce-cart .restore-item:hover { opacity: .4; }

.woocommerce-cart table.cart .product-quantity { text-align: center; }

.woocommerce-cart table.cart td { font-weight: 500; }
.woocommerce-cart table.cart img { max-width: 80px; width: auto; }
.woocommerce-cart table.cart th { font-size: 20px; font-weight: 600; padding: 20px 12px; }

.woocommerce-cart table.shop_table { border: 0; }
.woocommerce-cart table.shop_table td { border-top: 2px solid #ddd; padding: 15px 12px; }
.woocommerce-cart table.shop_table td.product-subtotal { font-weight: 700; }

.woocommerce-cart table.shop_table th.product-thumbnail,
.woocommerce-cart table.cart .product-thumbnail { min-width: 0; }

.woocommerce-cart table.cart td.actions .coupon { float: right; padding: 0; }
.woocommerce-cart table.cart td.actions .coupon .input-text { width: auto; border-radius: 3px; }
.woocommerce-cart table.cart td.actions .coupon button { background-color: #e7a161; color: #fff; border: 2px solid #e7a161; padding: .448em 1em; transition: .3s; }
.woocommerce-cart table.cart td.actions .coupon button:hover { background-color: #fff; color: #e7a161; }
.woocommerce-cart table.cart td.actions button[name="update_cart"] { display: none; }

.woocommerce-cart .cart-collaterals .cart_totals { background-color: #f3f3f3; padding: 30px 20px; border: 2px solid #e7a161; }
.woocommerce-cart .cart-collaterals .cart_totals h2 { font-weight: 500; font-size: 25px; text-transform: uppercase; text-align: center; }

.woocommerce-cart .cart-collaterals .cart_totals table { background-color: #fff; padding: 10px 20px; margin-bottom: 20px; }
.woocommerce-cart .cart-collaterals .cart_totals th { font-weight: 500; }

.woocommerce-cart .cart-collaterals .cart_totals table .woocommerce-shipping-destination { display: none; }

.woocommerce-cart .cart-collaterals .cart_totals table th { vertical-align: middle; }

.woocommerce-cart .cart-collaterals .cart_totals .order-total th,
.woocommerce-cart .cart-collaterals .cart_totals .order-total td:before { font-size: 20px; text-transform: uppercase; font-weight: 600; }	
.woocommerce-cart .cart-collaterals .cart_totals .order-total td span { font-size: 20px; font-weight: 600; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.woocommerce-cart .cart-collaterals .cart_totals { width: 60%; }

	.woocommerce-cart table.cart .product-thumbnail { display: block; text-align: center !important; }
	.woocommerce-cart table.cart .product-thumbnail:before { content: none; }
}

/* Mobile */

$breakpoint-mobile {
	.woocommerce-cart table.cart { margin-bottom: 0; }
	
	.woocommerce-cart table.cart img { max-width: 120px; }
	.woocommerce-cart table.cart .product-thumbnail { width: 100%; }

	.woocommerce-cart table.cart tr { position: relative; background-color: #f0f0f0; margin-bottom: 30px; }
	.woocommerce-cart table.cart tr:nth-child(2n) td { background-color: #f0f0f0; }
	
	.woocommerce-cart table.cart td { border-top: 0; }
	.woocommerce-cart table.cart td.product-remove { position: absolute; top: 0; right: 0; }
	.woocommerce-cart table.cart td.actions .coupon { float: none; text-align: center; width: 100%; }
	.woocommerce-cart table.cart td.actions .coupon .input-text { float: none; width: 100%; max-width: 300px; margin: 0 auto 10px; }
	.woocommerce-cart table.cart td.actions .coupon .button { float: none !important; width: 100%; max-width: 300px; margin: 0 auto; padding: 6px 10px; }

	.woocommerce-cart table.cart tr td { display: flex; justify-content: space-between; }
	.woocommerce-cart table.cart tr td:nth-child(n+2):before { width: 27%; text-align: left; text-transform: uppercase; font-weight: 500; float: none; }
	.woocommerce-cart table.cart tr td:nth-child(n+2) > a,
	.woocommerce-cart table.cart tr td:nth-child(n+2) > span { width: 69%; text-align: left; font-weight: 600; }
	
	.woocommerce-cart table.cart .product-quantity,
	.woocommerce-cart table.cart .product-subtotal { display: none; }	

	.woocommerce-cart .cart-collaterals .cart_totals { width: 100%; }
	.woocommerce-cart .cart-collaterals .cart_totals table { background: transparent; padding: 10px 0; }

	.woocommerce-cart .cart-collaterals .cart_totals tr:nth-child(2n) td { background: transparent; }

	.woocommerce-cart .cart-collaterals .cart_totals tr td:before { font-weight: 500; }
	
	.woocommerce-cart .cart-collaterals .cart_totals tr.woocommerce-shipping-totals td { display: flex; justify-content: space-between; }
	.woocommerce-cart .cart-collaterals .cart_totals tr.woocommerce-shipping-totals td:before { padding-right: 15px; }

	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button { padding: 10px; font-size: 16px; }
}

/* ------------------------------------------------------------ *\
	Woocommerce Checkout
\* ------------------------------------------------------------ */

.woocommerce-checkout { display: flex; }
.woocommerce-checkout .col2-set { width: 50%; padding-right: 2%; }
.woocommerce-checkout .woocommerce-order-review-wrapper { width: 50%; background-color: #f3f3f3; padding: 30px 20px; border: 2px solid #e7a161; }

.woocommerce-checkout .woocommerce-order-details__title,
.woocommerce-checkout .woocommerce-column__title { font-size: 25px; font-weight: 600; }

.woocommerce-checkout .woocommerce-column__title { margin-bottom: 10px; }

.woocommerce-checkout .woocommerce-billing-fields h3 { display: none; }

.woocommerce-checkout input,
.woocommerce-checkout select,
.woocommerce-checkout textarea { font-size: 16px; padding: 8px 10px; border-radius: 5px; border: 1px solid #ddd; }

.woocommerce-checkout .select2-dropdown,
.woocommerce-checkout .select2-container--default .select2-search--dropdown .select2-search__field,
.woocommerce-checkout .select2-container--default .select2-selection--single { border-color: #ddd; }

.woocommerce-checkout .select2-container .select2-selection--single { height: 37px; }

.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__rendered { font-size: 16px; line-height: 35px; color: #000; }

.woocommerce-checkout #billing_country_field { display: none; }

.woocommerce-checkout .woocommerce-additional-fields h3 { display: none; }

.woocommerce-checkout .product-quantity { display: none; }

.woocommerce-checkout .product-name { font-weight: 500; }

.woocommerce-checkout table.shop_table { table-layout: fixed; }

.woocommerce-checkout .form-row textarea::placeholder { color: #8b8b8b; }

.woocommerce-checkout #billing_email_field,
.woocommerce-checkout #billing_phone_field,
.woocommerce-checkout #billing_city_field,
.woocommerce-checkout #billing_state_field { width: 47%; overflow: visible; clear: none; }

.woocommerce-checkout #billing_email_field,
.woocommerce-checkout #billing_state_field { float: left; }

.woocommerce-checkout #billing_phone_field,
.woocommerce-checkout #billing_city_field { float: right; }

.woocommerce-checkout .woocommerce-error { display: none; }

.woocommerce-checkout #payment #place_order { float: none; background-color: #e7a161; color: #fff; border: 2px solid #e7a161; transition: .3s; font-size: 18px; font-weight: 600; padding: 10px 40px; margin-bottom: 0; width: 100%; }
.woocommerce-checkout #payment #place_order:hover { background-color: #fff; color: #e7a161; }

.woocommerce-checkout .woocommerce-billing-fields .form-row { margin-bottom: 15px; }

.woocommerce-checkout .woocommerce-order-review-wrapper h3 { font-weight: 500; font-size: 25px; text-transform: uppercase; text-align: center; }

.woocommerce-checkout .woocommerce-order-review-wrapper table { background-color: #fff; padding: 10px 20px; margin-bottom: 20px; }
.woocommerce-checkout .woocommerce-order-review-wrapper th { font-weight: 500; }

.woocommerce-checkout .woocommerce-order-review-wrapper table .woocommerce-shipping-destination { display: none; }

.woocommerce-checkout .woocommerce-order-review-wrapper table th { vertical-align: middle; }

.woocommerce-checkout .woocommerce-order-review-wrapper .order-total th,
.woocommerce-checkout .woocommerce-order-review-wrapper .order-total td:before { font-size: 20px; text-transform: uppercase; font-weight: 600; }	
.woocommerce-checkout .woocommerce-order-review-wrapper .order-total td span { font-size: 20px; font-weight: 600; }

.woocommerce-checkout .woocommerce-order-details .woocommerce-table--order-details { border: 2px solid #e7a161; background-color: #f3f3f3; padding: 20px; }
.woocommerce-checkout .woocommerce-customer-details address { border: 2px solid #e7a161; background-color: #f3f3f3; padding: 20px; padding: 20px; font-size: 19px; line-height: 1.6em; word-break: break-word; }

.woocommerce-checkout .woocommerce-form-coupon button { background-color: #e7a161; color: #fff; border: 2px solid #e7a161; padding: .448em 1em; transition: .3s; }
.woocommerce-checkout .woocommerce-form-coupon button:hover { background-color: #fff; color: #e7a161; }

.woocommerce-checkout .woocommerce-form-coupon-toggle .woocommerce-info .showcoupon { text-decoration: underline; }

.woocommerce-checkout .woocommerce-checkout-review-order-table .woocommerce-remove-coupon { color: #e7a161; }

.woocommerce-checkout #payment { background-color: transparent; }
.woocommerce-checkout #payment ul.payment_methods { border-bottom: 0; padding: 0; margin-bottom: 15px }

.woocommerce-checkout #payment div.form-row.place-order { padding: 0; margin: 0; }

.woocommerce-checkout #payment div.payment_box { background-color: #fff; }
.woocommerce-checkout #payment div.payment_box::before { border: 1em solid #fff; border-right-color: transparent; border-left-color: transparent; border-top-color: transparent; }

.woocommerce-checkout #payment ul.payment_methods li label,
.woocommerce-checkout #payment div.payment_box p { font-size: 17px; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.woocommerce-checkout { flex-direction: column; }
	.woocommerce-checkout .col2-set { width: 100%; padding-right: 0; margin-bottom: 20px; }
	.woocommerce-checkout .woocommerce-order-review-wrapper { width: 100%; }
}

/* Mobile */

$breakpoint-mobile {
	.woocommerce-checkout .woocommerce-order-review-wrapper table { background: transparent; padding: 10px 0; border: 0; }

	.woocommerce-checkout .woocommerce-order-review-wrapper tr:nth-child(2n) td { background: transparent; }

	.woocommerce-checkout .woocommerce-order-review-wrapper tr td:before { font-weight: 500; }
	
	.woocommerce-checkout .woocommerce-order-review-wrapper tr.woocommerce-shipping-totals td { display: flex; justify-content: space-between; }
	.woocommerce-checkout .woocommerce-order-review-wrapper tr.woocommerce-shipping-totals td:before { padding-right: 15px; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.woocommerce-checkout .woocommerce-order-review-wrapper { padding: 20px 10px; }

	.woocommerce-checkout #payment ul.payment_methods li label,
	.woocommerce-checkout #payment div.payment_box p { font-size: 15px; }

	.woocommerce-checkout #billing_email_field,
	.woocommerce-checkout #billing_phone_field { float: none; width: 100%; }

	.woocommerce-checkout form .form-row-first,
	.woocommerce-checkout form .form-row-last { width: 49% }

	.woocommerce-checkout form.checkout_coupon { text-align: center; }
	.woocommerce-checkout form.checkout_coupon .form-row { width: 100%; }

	.woocommerce-checkout .woocommerce-form-coupon button { margin: 0 auto; padding: 6px 10px; }

	.woocommerce-checkout .woocommerce-billing-fields .form-row { margin-bottom: 5px; }

	.woocommerce-checkout input,
	.woocommerce-checkout select,
	.woocommerce-checkout textarea { font-size: 14px; padding: 4px 10px; }

	.woocommerce-checkout .select2-container .select2-selection--single { height: 28px; }
	.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__rendered { font-size: 14px; line-height: 27px; }

	.woocommerce-checkout .woocommerce-order-details .woocommerce-table--order-details { padding: 10px; }

	.woocommerce-checkout .woocommerce-customer-details address { padding: 10px; font-size: 17px; }

	.woocommerce-checkout .woocommerce-order-details__title,
	.woocommerce-checkout .woocommerce-column__title { font-size: 22px; }
}

/* ------------------------------------------------------------ *\
	Woocommerce Products Header
\* ------------------------------------------------------------ */

.woocommerce-products-header { display: none; }

/* ------------------------------------------------------------ *\
	Woocommerce Columns
\* ------------------------------------------------------------ */

.woocommerce-columns { padding: 30px 0; }

.woocommerce-columns .woocommerce__columns { display: flex; }
.woocommerce-columns .woocommerce__sidebar { width: 23%; order: -1; padding-right: 2%; border-right: 1px solid #ddd; }
.woocommerce-columns .woocommerce__shop { width: 77%; padding-left: 2%; }

@media(min-width: 601px) {
	.woocommerce-columns .woocommerce__sidebar { display: block !important; }
	.woocommerce-columns .woocommerce__sidebar-mobile-buttons { display: none; }
}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.woocommerce-columns { padding: 15px; }

	.woocommerce-columns .woocommerce__sidebar { width: 30%; }
	.woocommerce-columns .woocommerce__shop { width: 70%; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.woocommerce-columns { padding: 0 0 20px; }
	
	.woocommerce-columns .shell { padding: 0; }

	.woocommerce-columns .woocommerce__columns { flex-wrap: wrap;; }
	.woocommerce-columns .woocommerce__sidebar { display: none; width: 100%; order: -1; padding: 0 10px 15px; border-right: 0; background-color: #f5f5f5; }
	.woocommerce-columns .woocommerce__shop { width: 100%; padding: 0 10px; }

	.woocommerce-columns .js-mobile-filter,
	.woocommerce-columns .js-mobile-remove-all-filters { width: 100%; }

	.woocommerce-columns .js-mobile-filter { background-color: #eaa362; color: #fff; font-size: 17px; font-weight: 600; padding: 3px 15px; border: 2px solid #eaa362; border-radius: 3px; transition: .3s; margin-bottom: 10px; }
	.woocommerce-columns .js-mobile-filter:active { background-color: #fff; color: #eaa362; }

	.woocommerce-columns .js-mobile-remove-all-filters { background-color: #c51313; color: #fff; border: solid 2px #c51313; font-size: 17px; font-weight: 600; border-radius: 3px; padding: 5px 30px; padding: 3px 30px; transition: background-color .3s, color .3s; }
	.woocommerce-columns .js-mobile-remove-all-filters:hover { background-color: #fff; color: #c51313; }

	.woocommerce .woocommerce-ordering { border-top: 0; flex-wrap: wrap; }
}

/* ------------------------------------------------------------ *\
	Woocommerce Product
\* ------------------------------------------------------------ */

.woocommerce.single-product .form-compatible-motorcycle .form__actions .btn-remove-all-filters { display: none; }
.woocommerce.single-product .section-search-parts--alt .form-compatible-motorcycle .btn-make-search { margin: 0 auto; }

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.woocommerce.single-product .products ul::after, .woocommerce ul.products::after { content: none; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.woocommerce.single-product .woocommerce-columns .js-mobile-remove-all-filters { display: none; }
}
