/* ------------------------------------------------------------ *\
	Section Search Parts
\* ------------------------------------------------------------ */

.section-search-parts { position: relative; color: #fff; text-align: center; padding: 50px 0; }

.section-search-parts .section__overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-position: top center; background-repeat: no-repeat; z-index: -1; background-size: cover; background-attachment: fixed; }
.section-search-parts .section__overlay .section__overlay-black { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.4); }

.section-search-parts .section__inner { position: relative; padding: 50px 20px; background-color: rgba(0, 0, 0, 0.7); border-radius: 20px; }
.section-search-parts .section__heading { border-bottom: 1px solid #fff; margin-bottom: 30px; }
.section-search-parts .section__separator { margin: 30px 0; }
.section-search-parts .section__search-filters { max-width: 1000px; margin: 0 auto; }

.section-search-parts h1 { color: #e7a161; margin-bottom: 20px; }
.section-search-parts h3 { color: #e7a161; }

/* Section Search Parts Alt */
.section-search-parts--alt { padding: 0; }

.section-search-parts--alt .section__search-filters { max-width: 700px; }

.section-search-parts--alt .section__inner { background: transparent; padding: 10px 0 20px; }

.section-search-parts--alt form input { padding: 5px 15px; }
.section-search-parts--alt form select { padding: 5px 40px 5px 15px; background-size: 30px 30px; }

.section-search-parts--alt form input, 
.section-search-parts--alt form select { font-size: 18px; border-radius: 8px; border-color: #ddd; transition: .3s ease; }

.section-search-parts--alt form input:hover,
.section-search-parts--alt form input:focus,
.section-search-parts--alt form select:hover,
.section-search-parts--alt form select:focus { border-color: #adabab; }

.section-search-parts--alt form select[disabled] { border-color: #ddd; }


/* ------------------------------------------------------------ *\
	Section Intro
\* ------------------------------------------------------------ */

.section-intro { position: relative; padding: 100px 0; background-size: cover; background-position: center; color: #fff; text-align: center; }
.section-intro:before { content: ''; position: absolute; left: 0; right: 0; bottom: 0; top: 0; background-color: #000; opacity: .7; z-index: 1; }

.section-intro .shell { position: relative; z-index: 2; }

.section-intro h1 { font-size: 45px; color: #e7a161; }
.section-intro p { font-size: 34px; }

/* ------------------------------------------------------------ *\
	Section Contact
\* ------------------------------------------------------------ */

.section-contact { padding: 50px 0; }

.section-contact .section__inner { display: flex; align-items: center; }
.section-contact .section__form { width: 50%; }

.section-contact .section__details { width: 50%; padding-left: 15%; padding-bottom: 26px; }

.section-contact .section__details-text { padding-top: 30px; border-top: 1px solid #c8c7c7; }
.section-contact .section__details-text h2 { margin-bottom: 25px; }
.section-contact .section__details-text p { font-size: 18px; margin-bottom: 9px; }
.section-contact .section__details-text p:last-child { margin-bottom: 0; }

.section-contact .section__details-contacts { padding-bottom: 30px; }
.section-contact .section__details-contacts > a { margin-bottom: 0; }

.section-contact .section__details-contacts .icotext-phone { margin-bottom: 20px; }

/* ------------------------------------------------------------ *\
	Section Columns
\* ------------------------------------------------------------ */

.section-columns { display: flex; justify-content: space-between; }

.section-columns + .section-columns { margin-top: 10px; }

.section-columns .section__column { width: 50%; }
