/* ------------------------------------------------------------ *\
	Slider Testimonials
\* ------------------------------------------------------------ */

.slider-testimonials { background-color: #fff; padding: 80px 0; }

.slider-testimonials .slider__inner { background-color: #fff; padding: 40px 0 80px; border: 5px solid #e7a161; }

.slider-testimonials .slider__title { margin-bottom: 23px; }
.slider-testimonials .slider__body { position: relative; max-width: 1000px; margin: 0 auto; }

.slider-testimonials h2 { text-align: center; color: #e7a161; font-size: 35px; }

.slider-testimonials .slider__clip { padding: 0 100px; }

.slider-testimonials .slick-prev,
.slider-testimonials .slick-next { position: absolute; top: 50%; transform: translateY(-50%); background-color: transparent; border: 0; transition: .3s; color: #e7a161; font-size: 60px; }

.slider-testimonials .slick-prev { left: 0; }
.slider-testimonials .slick-next { right: 0; }

.slider-testimonials .slick-prev:hover { transform: translate(-10px, -50%); }
.slider-testimonials .slick-next:hover { transform: translate(10px, -50%); }

.slider-testimonials .slick-dots { position: absolute; top: calc( 100% + 32px ); display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; }
.slider-testimonials .slick-dots li { position: relative; display: inline-block; width: 10px; height: 10px; margin: 0 5px; padding: 0; cursor: pointer; }
.slider-testimonials .slick-dots button { font-size: 0; line-height: 0; display: block; width: 10px; height: 10px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent; background-color: #ccc; border-radius: 50%; }
.slider-testimonials .slick-dots .slick-active button { background-color: #000; }

.slider-testimonials .slider__slide-inner { display: flex; align-items: center; }

.slider-testimonials .slider__slide-image { width: 20%; margin-right: 55px; }
.slider-testimonials .slider__slide-image img { border-radius: 50%; }

.slider-testimonials .slider__slide-text { width: 80%; }
.slider-testimonials .slider__slide-text p { font-size: 23px; line-height: 1.56; margin-bottom: 10px; }

.slider-testimonials:not(.slick-initialized) .slider__slide { display: none; }
.slider-testimonials:not(.slick-initialized) .slider__slide:first-child { display: block; }

/* Small Desktop */

$breakpoint-small-desktop {
	.slider-testimonials { padding: 30px 0; }
	
	.slider-testimonials h2 { font-size: 30px; }

	.slider-testimonials .slick-prev { left: 5px; }
	.slider-testimonials .slick-next { right: 5px; }

	.slider-testimonials .slider__slide-text p { font-size: 20px; }

	.slider-testimonials .slider__inner { padding: 20px 0 60px; }

	.slider-testimonials .slick-dots { top: calc(100% + 10px); }
}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.slider-testimonials { margin-left: 0; margin-right: 0; }

	.slider-testimonials h2 { font-size: 28px; }

	.slider-testimonials .slider__clip { padding: 0 80px; }

	.slider-testimonials .slider__slide-text p { font-size: 18px; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.slider-testimonials { padding: 20px 0; }

	.slider-testimonials h2 { font-size: 21px; }

	.slider-testimonials .slider__slide-text { text-align: center; }

	.slider-testimonials .slider__slide-inner { flex-wrap: wrap; }

	.slider-testimonials .slider__slide-image,
	.slider-testimonials .slider__slide-text { flex-basis: 100%; }

	.slider-testimonials .slider__slide-image { margin-bottom: 20px; margin-right: 0; }
	.slider-testimonials .slider__slide-image img { margin: 0 auto; }

	.slider-testimonials .slider__clip { padding: 0; }

	.slider-testimonials .slider__inner { padding: 10px 10px 40px; }

	.slider-testimonials .slick-prev,
	.slider-testimonials .slick-next { display: none !important; }

	.slider-testimonials .slick-dots { top: 100%; }
}
