/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { margin-top: 80px; width: 100%; min-height: calc(100vh - 80px); display: flex; flex-direction: column; }

.admin-bar .wrapper { margin-top: 112px; min-height: calc(100vh - 112px); }

/* Small Desktop */

$breakpoint-small-desktop {
	.wrapper { margin-top: 65px; width: 100%; min-height: calc(100vh - 65px); display: flex; flex-direction: column; }

	.admin-bar .wrapper { margin-top: 97px; min-height: calc(100vh - 97px); }
}

/* Tablet Portrait */

$breakpoint-tablet-portrait {
	.wrapper { margin-top: 57px; min-height: calc(100vh - 57px); }

	.admin-bar .wrapper { margin-top: 89px; max-height: calc(100vh - 89px); }
}

@media screen and (max-width: 782px) {
	.admin-bar .wrapper { margin-top: 57px; min-height: calc(100vh - 57px); }
}
