/* ------------------------------------------------------------ *\
	Woocommerce
\* ------------------------------------------------------------ */

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { height: 9px; position: relative; padding: 0 2px; border: 1px solid #d0d0d0; cursor: pointer; background-color: transparent; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle { background-color: #e7a161; }
.woocommerce .widget_price_filter .ui-slider .ui-slider-range { background-color: #e7a161; position: absolute; top: 2px; bottom: 2px; height: auto; z-index: 1; }

.woocommerce .widget_price_filter .price_slider_amount .button { background-color: #e7a161; border: 2px solid #e7a161; color: #fff; transition: .5s; }
.woocommerce .widget_price_filter .price_slider_amount .button:hover { background-color: #fff; color: #e7a161; }

.woocommerce ul.products { padding-top: 20px; }

.woocommerce .woocommerce-result-count { display: none; }

.woocommerce .woocommerce-ordering { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 15px 0; float: none; margin-bottom: 0; display: flex; align-items: center; }
.woocommerce .woocommerce-ordering label { font-size: 18px; margin-right: 8px; }
.woocommerce .woocommerce-ordering select { appearance: none; text-indent: 1px; text-overflow: ''; background-image: url(../images/select-down-arrow.svg); background-repeat: no-repeat; background-size: 30px 30px; background-position: right 10px center; border-color: #ddd; transition: .3s ease; padding: 7px 40px 7px 15px; font-size: 16px; border-radius: 8px; }
.woocommerce .woocommerce-ordering select::-ms-expand { display: none; }

.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale { margin: 0; border-radius: 0; min-height: 0; max-width: none; padding: 10px 5px; line-height: 1; background-color: #e7a161; }

.woocommerce span.onsale { top: 0; left: 0; }

.woocommerce div.woocommerce__shop .product .price del,
.woocommerce div.woocommerce__shop .product span.price del { font-size: 14px; opacity: .7; color: #5f5f5f; }
.woocommerce div.woocommerce__shop .product .price,
.woocommerce div.woocommerce__shop .product span.price { font-size: 16px; color: #e7a161; }
.woocommerce div.woocommerce__shop .product .price ins,
.woocommerce div.woocommerce__shop .product span.price ins { text-decoration: none; }
.woocommerce div.woocommerce__shop .product .price bdi,
.woocommerce div.woocommerce__shop .product span.price bdi { font-weight: 600; }

.woocommerce div.woocommerce__shop .product .button { margin: 0; background-color: #e7a161; border: 2px solid #e7a161; color: #fff; transition: .3s; padding: 7px 10px; }
.woocommerce div.woocommerce__shop .product .button:hover { background-color: #fff; color: #e7a161; }

.woocommerce div.woocommerce__shop .product .price { font-size: 30px; }
.woocommerce div.woocommerce__shop .product .price del { font-size: 20px; }

.woocommerce #respond input#submit::after,
.woocommerce a.button::after,
.woocommerce button.button::after,
.woocommerce input.button::after { font-size: 22px; }

.woocommerce #respond input#submit.loading, .woocommerce a.button.loading,
.woocommerce button.button.loading, .woocommerce input.button.loading { opacity: .8; pointer-events: none; }

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after { color: #000; z-index: 2; left: 16px; top: 3px; width: 23px; }
.woocommerce ul.products li.product .button.added { display: none; }

.woocommerce a.added_to_cart { background: #4CC355 url(../images/icon-shopping-cart.svg) no-repeat; background-size: 22px 22px; background-position: left 10px center; color: #fff; font-weight: 600; padding: 8px 10px 8px 40px; font-size: 13px; border-radius: 3px; transition: .3s; }

.woocommerce a.added_to_cart:hover { opacity: .5; }

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 { font-weight: 600; }

.woocommerce ul.products li.product .woocommerce-loop-product__link { display: inline-block; }
.woocommerce ul.products li.product .woocommerce-loop-product__link h2 { transition: .3s; }
.woocommerce ul.products li.product .woocommerce-loop-product__link:hover h2 { opacity: .5; color: #e7a161; }

.woocommerce .woocommerce-product-images { position: relative; }
.woocommerce ul.products li.product .woocommerce-loop-product__link img + img { position: absolute; left: 0; right: 0; bottom: 0; top: 0; opacity: 0; transition: .3s; }
.woocommerce ul.products li.product .woocommerce-loop-product__link:hover img + img { opacity: 1; }

/* Pagination */
.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li { border: 0; }

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span { background: #424043; color: #fff; border: 1px solid #424043; border-radius: 4px; font-size: 14px; font-weight: 600; width: 30px; height: 30px; line-height: 30px; padding: 0; transition: .3s; }

.woocommerce nav.woocommerce-pagination ul li + li { margin-left: 5px; }

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current { background: #fff; color: #424043; }

.woocommerce nav.woocommerce-pagination ul li .prev,
.woocommerce nav.woocommerce-pagination ul li .next { padding: 0; font-size: 24px; line-height: 25px; }

.woocommerce ul.products li.product a img { margin-bottom: 5px; }
.woocommerce .related.products ul.products li.product a img { margin-bottom: 0; }

.woocommerce div.product div.images.woocommerce-product-gallery .flex-viewport { margin-bottom: 20px;  }

.woocommerce div.product div.images .flex-control-thumbs { margin: 0 -10px; }
.woocommerce div.product div.images .flex-control-thumbs li { padding: 0 10px; }

.woocommerce div.product .related.products { float: left; border-top: 1px solid #ddd; padding-top: 20px; }
.woocommerce div.product .related.products > h2 { font-size: 24px; font-weight: 500; margin-bottom: 0; }

.woocommerce div.product .product_title { font-size: 24px; font-weight: 500; padding-bottom: 10px; border-bottom: 1px solid #ddd; margin-bottom: 10px; }

.woocommerce div.woocommerce__shop .product .price { margin-bottom: 20px; }
.woocommerce div.woocommerce__shop .woocommerce-product-details__short-description { margin-bottom: 20px; }
.woocommerce div.woocommerce__shop .woocommerce-product-details__short-description p { line-height: 1.7; color: #929292; }

.woocommerce div.product div.summary .posted_in { font-weight: 600; }
.woocommerce div.product div.summary .posted_in a { color: #e7a161; font-weight: 400; transition: .3s; }
.woocommerce div.product div.summary .posted_in a:hover { opacity: .5; }

.woocommerce form .form-row #billing_country_field { display: none; }

.woocommerce .woocommerce-error { margin-bottom: 20px; }

.woocommerce .col2-set .col-1 { float: none; width: 100%; }
.woocommerce .col2-set .col-2 { float: none; width: 100%; }
/* ------------------------------------------------------------ *\
	Woocommerce Cart
\* ------------------------------------------------------------ */

.woocommerce-cart .cart-collaterals .cart_totals table .woocommerce-Price-amount { font-weight: 700; }
.woocommerce-cart .cart-collaterals .cart_totals table .woocommerce-shipping-destination { display: none; }

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button { background-color: #e7a161; border: 2px solid #e7a161; transition: .3s; }
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover { background-color: #fff; color: #e7a161; }

/* ------------------------------------------------------------ *\
	Woocommerce Checkout
\* ------------------------------------------------------------ */

.woocommerce-checkout { display: flex; justify-content: center; }
.woocommerce-checkout .col2-set { width: 50%; padding-right: 2%; }
.woocommerce-checkout .woocommerce-order-review-wrapper { width: 50%; padding-left: 2%; }

/* ------------------------------------------------------------ *\
	Woocommerce Products Header
\* ------------------------------------------------------------ */

.woocommerce-products-header { display: none; }

/* ------------------------------------------------------------ *\
	Woocommerce Columns
\* ------------------------------------------------------------ */

.woocommerce-columns { padding: 30px 0; }

.woocommerce-columns .woocommerce__columns { display: flex; }
.woocommerce-columns .woocommerce__sidebar { width: 23%; order: -1; padding-right: 3%; border-right: 1px solid #ddd; }
.woocommerce-columns .woocommerce__shop { width: 77%; padding-left: 3%; }
