/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { background-color: #000; color: #fff; padding: 20px; }

.header .header__inner { display: flex; justify-content: space-between; align-items: center; }
.header .header__body { display: flex; align-items: center; }

.header .header__shopping-cart { margin-left: 60px; }
.header .header__shopping-cart a { position: relative; display: block; transition: opacity .5s; }
.header .header__shopping-cart a:hover { opacity: .5; }
.header .header__shopping-cart span { position: absolute; top: -5px; left: 80%; background-color: #c51313; width: 20px; height: 20px; text-align: center; border-radius: 50%; line-height: 20px; }

